.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Sider {
  background: #E5E5E5;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #FFB800;
}

.logo {
  width: 133px;
  height: auto;
  margin: 17px 0px 53px 33px;
}



/*  Main */



.site-layout, .site-layout .site-layout-background {
  background: #E5E5E5;
}

.search-wrapper {
  border: 1px solid #EDEDED;
  background: #EDEDED;
  border-radius: 12px;
  width: 470px;
  height: 48px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.search-wrapper input {
  background: #EDEDED;
  font-size: 20px;
  width: 424px;
  height: 90%;
  padding: 1rem;
  border: none;
  outline: none;
}

.search-wrapper span {
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.5rem;
}

.user-wrapper {
  display: flex;
  align-items: center;
  margin-right: 18px;
}

.user-wrapper img {
  border-radius: 50%;
  margin-right: 1rem;
}

/* Card */

.card {
  border-radius: 5px;
  box-shadow: none;
  margin: 0px 32px
}

.card-title,
.card-header,
.card-body {
  padding: 1rem;
}


.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px soild #f0f0f0;
  box-shadow: none;
}

.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.card-button-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header button, .btn-orange {
  background: #ffffff;
  height: 50px;
  border-radius: 8px;
  color: #FF993C;
  font-size: 16px;
  padding: .5rem 1rem;
  border: 1px solid #FF993C;
  margin-left: 5px;
}

.card-header button:hover, .btn-orange:hover {
  color: #ffffff;
  background: #FF993C;
  border: 1px solid #FF993C;
  opacity: 0.8;
}

.bt-bold-18 {
  width: 127px;
  font-weight: 'bold';
  font-size: 18px,
}

/* ----- Button ----- */

.bt-tag {
  padding: 8px 17px;
  font-size: 15px;
  border-radius: 4px;
}

.button-red {
  color: #FD5959;
  border: 1px solid #FD5959;
  background: #F8EBE8;
}

.button-gray {
  color: #919DBA;
  border: 1px solid #919DBA;
  background: #EAF1F8
}

.status {
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-right: .5rem;
}

.status.red {
  background: #FD5959;
}

.status.gray {
  background: rgb(145, 157, 186);
}

.button-green {
  color: #03AC00;
  border: 1px solid #03AC00;
  background: #DEF7E0
}

.status.green {
  background: #03AC00;
}

.molde-input {
  width: 245px;
  height: 40px;
  border: 1px solid #A5A8B1;
  border-radius: 8px;
  font-size: 20px
}

.molde-input-money {
  width: 148px;
  height: 40px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background: #F1F4F8;
  margin: 0px 8px;
}

.star-red {
  color: #FD5959;
  margin: 0px 4px;
  font-weight: 600
}

.font-faint {
  color: "#1E0D03";
  opacity: 0.4;
  margin: "0px 4px"
}

.bt-cancel {
  width: 160px;
  height: 48px;
  border-radius: 8px;
  color: #FF993C;
  border: 1px solid #FF993C;
}

.bt-save {
  width: 160px;
  height: 48px;
  border-radius: 8px;
  color: #FFFFFF;
  background: #FF993C;
  margin-left: 24px;
  border: none;
}

.Input-sreach {
  width: 446px;
  height: 48px;
  background: #F7F7F8;
  border-radius: 8px;
  border: none;
}